@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Tajawal:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Tajawal:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}

.container {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title {
  font-size: 2rem;
}

.container .side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 1.5rem;
  margin: 2% 0;
}

.container .tooths {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .tooths section {
  background-color: darkseagreen;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  padding: 2%;
  margin: 1%;
}

.container .tooths section div.tooth {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .tooths section div.r1 {
  margin: 0 0 -6% 0;
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .tooths section div.r1 a:nth-child(1) {
  margin: 0 -20px 0 0;
}

.container .tooths section div.r1 a:nth-child(2) {
  margin: 0 -8px 0 0;
}

.container .tooths section div.r2 {
  margin: 0 0 -4% 0;
  width: 45%;
}

.container .tooths section div.r3 {
  margin: 0 0 -4% 0;
  width: 75%;
}

.container .tooths section div.r4 {
  margin: 0 0 -3% 0;
  width: 95%;
}

.container .tooths section div.r5 {
  margin: 0 0 -2% 0;
  width: 108%;
}

.container .tooths section div.r6 {
  margin: 0 0 -2% 0;
  width: 115%;
}

.container .tooths section div.r7 {
  margin: 0 0 -2% 0;
  width: 116%;
}

.container .tooths section div.r8 {
  margin: 0 0 2% 0;
  width: 115%;
}

.container .tooths section div.r9 {
  margin: 2% 0 0 0;
  width: 115%;
}

.container .tooths section div.r10 {
  margin: -2% 0 0 0;
  width: 116%;
}

.container .tooths section div.r11 {
  margin: -2% 0 0 0;
  width: 115%;
}

.container .tooths section div.r12 {
  margin: -2% 0 0 0;
  width: 108%;
}

.container .tooths section div.r13 {
  margin: -3% 0 0 0;
  width: 95%;
}

.container .tooths section div.r14 {
  margin: -4% 0 0 0;
  width: 75%;
}

.container .tooths section div.r15 {
  margin: -4% 0 0 0;
  width: 45%;
}

.container .tooths section div.r16 {
  margin: -5% 0 0 0;
  width: 10%;
}

.container .tooths section div.r16 a:nth-child(1) {
  margin: 0 -15px 0 0;
}

.container .tooths section div.r16 a:nth-child(2) {
  margin: 0 -5px 0 0;
}

.modal .modal-dialog .modal-content .modal-body select {
  border: none;
  border-bottom: 0.5px solid #aaa;
  padding: 0 1% 2% 1%;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.modal .modal-dialog .modal-content .modal-body select:focus {
  outline: none;
}

.modal .modal-dialog .modal-content .modal-footer button.btn-primary {
  background-color: darkseagreen;
  border-color: darkseagreen;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}

header {
  background-color: rgba(143, 188, 143, 0.6);
  padding: 2%;
  margin-bottom: 2%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav div {
  margin: 1%;
  color: white;
  background-color: darkslategray;
  border-radius: 50%;
  padding: 0.5% 0.8%;
  cursor: pointer;
}

header nav div:hover {
  background-color: #476d6d;
}

header nav div a {
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

header nav div a:hover {
  color: white;
}

.container-child {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-child .title {
  font-size: 2rem;
}

.container-child .side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 1.5rem;
  margin: 2% 0;
}

.container-child .tooths {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-child .tooths section {
  background-color: darkseagreen;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  margin: 1%;
  padding: 2%;
}

.container-child .tooths section div.tooth {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1% 0;
}

.container-child .tooths section div.r1 {
  margin: 0 0 0 0;
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-child .tooths section div.r1 a:nth-child(1) {
  margin: 0 -15px 0 0;
}

.container-child .tooths section div.r1 a:nth-child(2) {
  margin: 0 -10px 0 0;
}

.container-child .tooths section div.r2 {
  margin: -4.5% 0 0 0;
  width: 40%;
}

.container-child .tooths section div.r3 {
  margin: -4% 0 0 0;
  width: 60%;
}

.container-child .tooths section div.r4 {
  margin: -2% 0 0 0;
  width: 73%;
}

.container-child .tooths section div.r5 {
  margin: -1% 0 2% 0;
  width: 82%;
}

.container-child .tooths section div.r6 {
  margin: 2% 0 0 0;
  width: 82%;
}

.container-child .tooths section div.r7 {
  margin: -1% 0 0 0;
  width: 73%;
}

.container-child .tooths section div.r8 {
  margin: -2% 0 0 0;
  width: 60%;
}

.container-child .tooths section div.r9 {
  margin: -3.5% 0 0 0;
  width: 40%;
}

.container-child .tooths section div.r10 {
  margin: -4.5% 0 0 0;
  width: 10%;
}

.container-child .tooths section div.r10 a:nth-child(1) {
  margin: 0 -15px 0 0;
}

.container-child .tooths section div.r10 a:nth-child(2) {
  margin: 0 -10px 0 0;
}

.modal .modal-dialog .modal-content .modal-body select {
  border: none;
  border-bottom: 0.5px solid #aaa;
  padding: 0 1% 2% 1%;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.modal .modal-dialog .modal-content .modal-body select:focus {
  outline: none;
}

.modal .modal-dialog .modal-content .modal-footer button.btn-primary {
  background-color: darkseagreen;
  border-color: darkseagreen;
}
/*# sourceMappingURL=dental.css.map */